# Directories
auto-save-list/
elpa/
.python-environments/
url/
# Snippets folder would be useful to have synchronized

# File Auto-saves
*~

# ido local history
ido.last

# Desktops seemed like a good idea but they're way too variable between machines
.emacs.desktop
